# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [45]:
a=[1,2,3,4,5,6,7,8,9,10]

2. Append to the list the number 20

In [46]:
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [47]:
a.insert(4,0)

In [48]:
a.insert(4,0)

In [49]:

a

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [50]:
a.sort(reverse=True)
a

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [52]:
a.pop()
a

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [53]:
a.reverse()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [54]:
len(a)

11

8. Give the minimum, maximum and the sum of all the items in the list

In [61]:
print("min: %d - max: %d - sum: %d" % (min(a),max(a),sum(a)))

min: 1 - max: 20 - sum: 75

9. What will happen if you multiply the list by 2?

In [59]:
a*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

10. Can you divide the list by 3?

In [62]:
a/3

TypeError: unsupported operand type(s) for /: 'list' and 'int'

# Tupples
 
1. Create a tupple with three characters and four numbers

In [65]:
b=('A','B','C',1,2,3,4)
b

('A', 'B', 'C', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [70]:
b=b+(False,True)
b

('A', 'B', 'C', 1, 2, 3, 4, False, True)

3. Retrieve the third to sixth items from the tupple

In [72]:
b[2:6]

('C', 1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [74]:
b=(['A','B','C'],[1, 2, 3, 4])
b

(['A', 'B', 'C'], [1, 2, 3, 4])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [76]:
c=set("Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object")
c

{' ',
 '-',
 '.',
 'A',
 'S',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'l',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y'}

2. Do you see something wierd in this set? What? How can you prevent that?

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [94]:
f={1020:'Harry Smith Sales Manager 030-223.65.44'}

1. Get all the keys of the dictionary

In [95]:
f.keys()

dict_keys([1020])

2. Get all the values of the dictionary

In [96]:
f.values()

dict_values(['Harry Smith Sales Manager 030-223.65.44'])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [98]:
f[1020]

'Harry Smith Sales Manager 030-223.65.44'

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [111]:

print("Prime numbers between", 1, "and", 100, "are:")

for num in range(1,100):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

2. Write a different solution to the problem in the last question, but using while.. in place of for..